@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light-green: #f5f8f4
}

*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5;
}


body {
  margin: 0;
  line-height: inherit;
  background: url('../assets/bg-image.jpg') no-repeat;
  background-size: cover;
  color: #1f2937;
}


/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
